

.sidebar{
    -fx-background-color: #282E34;
}

.sidebar .button{
    -fx-background-color: none;
    -fx-text-fill:  #4E4F52;
    -fx-font-weight:700;
    -fx-font-size:16px;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -fx-border-width: 0px 0px 0px 7px;
}

.sidebar .button:hover{
    -fx-border-color: #EA5444;
    -fx-border-width: 0px 0px 0px 7px;
    -fx-border-radius: 0px;
    -fx-text-fill: #EA5444;
}


#home{
    -fx-background-image: url("../images/home.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 55% 30%;
}

#home:hover{
    -fx-background-image: url("../images/homeRed.png");
     -fx-background-color: #fbad1b; 
   	-fx-text-decoration-line: underline ;
   	
}
#staffmember{
    -fx-background-image: url("../images/staff.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 55% 30%;
	
}

#staffmember:hover{
    -fx-background-image: url("../images/staff.png");
	 -fx-background-color: #fbad1b; 
   -fx-text-decoration-line: underline ;
}
#member{
    -fx-background-image: url("../images/member.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 55% 30%;
}

#member:hover{
    -fx-background-image: url("../images/member.png");
	-fx-background-color: #fbad1b; 
   	-fx-text-decoration-line: underline ;
}
#section{
    -fx-background-image: url("../images/section.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 55% 30%;
}

#section:hover{
    -fx-background-image: url("../images/section.png");
	 -fx-background-color: #fbad1b; 
   -fx-text-decoration-line: underline ;
}
#membership{
    -fx-background-image: url("../images/membership.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 55% 30%;
}

#membership:hover{
    -fx-background-image: url("../images/membership.png");
	 -fx-background-color: #fbad1b; 
   -fx-text-decoration-line: underline ;
}
#about{
    -fx-background-image: url("../images/settings.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 55% 30%;
}

#about:hover{
    -fx-background-image: url("../images/settingsRed.png");
	 -fx-background-color: #fbad1b; 
   -fx-text-decoration-line: underline ;
}
#logout:hover{
	    -fx-background-color: #c82333;
	    -fx-border-color: #bd2130;
	    -fx-effect: dropshadow(three-pass-box,rgba(0, 123, 255, 0.5),2,1,1,1);
	
}
.home-active{
    -fx-background-image: url("../icon/homeRed.png");
}

